# Panduan Environment Variables untuk Aplikasi IPB Food Hub

# Masukkan URL Supabase Anda di sini (Minta ke project owner jika Anda anggota tim)
DATABASE_URL=postgresql://<user_supabase>:<password_supabase>@<host_supabase>:5432/postgres

# Kunci rahasia untuk enkripsi JWT Token (Samakan dengan tim)
SECRET_KEY="kunci-rahasia-ipb-food-hub-super-aman"